name: Build APK

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: kivy/python-for-android

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          pip install buildozer
          pip install Cython==0.29.33
          pip install androguard pillow kivy kivymd pycryptodome

      - name: Disable root warnings
        run: |
          export BUILDOZER_ALLOW_ROOT=1
          export BUILDOZER_WARN_ON_ROOT=0

      - name: Build APK
        run: buildozer android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: APK
          path: bin/*.apk
