name: Build APK

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build using p4a official Docker image
      run: |
        docker run --rm -v ${{ github.workspace }}:/home/user/hostcwd \
          kivy/python-for-android \
          bash -c "cd /home/user/hostcwd && buildozer android debug"

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: Vishal-APK
        path: bin/*.apk
